/**
* This project contains the following CSS stylesheets:
*
* base.css................Sets the global rules of the website.
* layout.css..............Sets the Grid layout of main page.
* components.css..........Sets the properties of components on main page.
*/


/**
* This style sheet contains:
*
* BOX-SIZING
* box-sizing.............Sets the box-sizing value of the website.
*
* GLOBAL VALUES
* background-colors......Sets the background-color of the components with variables.
* fonts..................Sets the properties of fonts with variables and @mixin.
*/





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

/**
* 1) The size of elements contains padding and border.
*/


* { box-sizing: border-box } /* [1] */





/*------------------------------------*\
  #BACKGROUND-COLORS
\*------------------------------------*/

/**
* 1) Background color of page header and sidebar headers.
* 2) Background color of smaller containers.
*/

:root {
  --primary-color:             #6200EA 0% 0% no-repeat padding-box; /* [1] */
  --secondary-color:           #FFFFFF 0% 0% no-repeat padding-box; /* [2] */
  --main-container-background: #F4F3F5 0% 0% no-repeat padding-box;
}





/*------------------------------------*\
  #FONT-COLORS
\*------------------------------------*/

/**
* 1) Font color of page header and sidebar headers.
* 2) Font color of category headings.
*/

:root {
  --primary-font-color:        #FFFFFF; /* [1] */
  --secondary-font-color:      #6200EA; /* [2] */
  --paragraph-color:           #211138;
  --post-header-font-color:    #B2ACBA;
  --sidebar-footer-font-color: #B2ACBA;
}





/*------------------------------------*\
  #FONT-FAMILY
\*------------------------------------*/

:root {
  --font-family: Montserrat
}