/**
* This file contains:
*
* BODY..................Sets the width and height of the body container.
*
* NAVBAR................Sets the width, height and flex layout of the navbar.
*
* MAIN (GRID)...........Sets the width, paddings and grid of the main container.
* Grid container
* Grid elements
*/





/*------------------------------------*\
  #BODY
\*------------------------------------*/

.body { width: 1600px; }





/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

/**
 * Extend `.navbar {}` in components.css.
 */

.navbar-container {
  width:  100%;
  height: 80px
}

  .navbar {
    display:          flex;
    justify-content:  space-between;
    width:            1031px;
    margin:           0 284.5px;
  }





/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/**
 * Extend `.main {}` in components.css.
 */

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 245px;
  height:  2080px;
}